{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Homepage{% endblock title %}</title>
{% block content %}
    <section class="hero" id="hero">
        <div class="overlay">
            <div class="whatis text-center">
                <h1 id="whatisTitle">Qazaqsha</h1>
                <p>Qazaqsha is website where you can improve your reading skills, practice your grammar, talk to native
                    speakers and translate articles to kazakh</p>
            </div>
        </div>
    </section>
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h1 class="portfolio-heading text-center mt-3">
                Why us?
            </h1>
            <div class="portfolio-devider d-flex justify-content-center align-items-center">
                <img src="{% static 'img/ou2.png' %}">
                <img src="{% static 'img/ou2.png' %}">
                <img src="{% static 'img/ou2.png' %}">
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item d-flex mx-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <div class="portfolio-item-size h-100 w-100">
                            <div class="portfolio-item-size-content d-flex h-100 w-100 align-items-center justify-content-center">
                                <?xml version="1.0" encoding="utf-8"?>
                                <h2 class="portfolio-item-size-content-description">We will help you to improve your
                                    reading skills</h2>
                            </div>
                            <div class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="250" height="150" fill="currentColor"
                                     class="bi bi-book" viewBox="0 0 16 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item d-flex mx-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <div class="portfolio-item-size h-100 w-100">
                            <div class="portfolio-item-size-content d-flex h-100 w-100 align-items-center justify-content-center">
                                <?xml version="1.0" encoding="utf-8"?>
                                <h2 class="portfolio-item-size-content-description">You will boost your grammar</h2>
                            </div>
                            <div class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="250" height="150" fill="currentColor"
                                     class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item d-flex mx-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <div class="portfolio-item-size h-100 w-100">
                            <div class="portfolio-item-size-content d-flex h-100 w-100 align-items-center justify-content-center">
                                <?xml version="1.0" encoding="utf-8"?>
                                <h2 class="portfolio-item-size-content-description">We have sophiscticated evluation
                                    system</h2>
                            </div>
                            <div class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="250" height="150" fill="currentColor"
                                     class="bi bi-volume-up" viewBox="0 0 16 16">
                                    <path d="M11.536 14.01A8.47 8.47 0 0 0 14.026 8a8.47 8.47 0 0 0-2.49-6.01l-.708.707A7.48 7.48 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303z"/>
                                    <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.48 5.48 0 0 1 11.025 8a5.48 5.48 0 0 1-1.61 3.89z"/>
                                    <path d="M10.025 8a4.5 4.5 0 0 1-1.318 3.182L8 10.475A3.5 3.5 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.5 4.5 0 0 1 10.025 8M7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item d-flex mx-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <div class="portfolio-item-size h-100 w-100">
                            <div class="portfolio-item-size-content d-flex h-100 w-100 align-items-center justify-content-center">
                                <?xml version="1.0" encoding="utf-8"?>
                                <h2 class="portfolio-item-size-content-description">We can translate anything to
                                    kazakh</h2>
                            </div>
                            <div class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="250" height="150" fill="currentColor"
                                     class="bi bi-translate" viewBox="0 0 16 16">
                                    <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z"/>
                                    <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item d-flex mx-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <div class="portfolio-item-size h-100 w-100">
                            <div class="portfolio-item-size-content d-flex h-100 w-100 align-items-center justify-content-center">
                                <?xml version="1.0" encoding="utf-8"?>
                                <h2 class="portfolio-item-size-content-description">Learn alphabet on our website</h2>
                            </div>
                            <div class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="250" height="150" fill="currentColor"
                                     class="bi bi-alphabet" viewBox="0 0 16 16">
                                    <path d="M2.204 11.078c.767 0 1.201-.356 1.406-.737h.059V11h1.216V7.519c0-1.314-.947-1.783-2.11-1.783C1.355 5.736.75 6.42.69 7.27h1.216c.064-.323.313-.552.84-.552s.864.249.864.771v.464H2.346C1.145 7.953.5 8.568.5 9.496c0 .977.693 1.582 1.704 1.582m.42-.947c-.44 0-.845-.235-.845-.718 0-.395.269-.684.84-.684h.991v.538c0 .503-.444.864-.986.864m5.593.937c1.216 0 1.948-.869 1.948-2.31v-.702c0-1.44-.727-2.305-1.929-2.305-.742 0-1.328.347-1.499.889h-.063V3.983h-1.29V11h1.27v-.791h.064c.21.532.776.86 1.499.86Zm-.43-1.025c-.66 0-1.113-.518-1.113-1.28V8.12c0-.825.42-1.343 1.098-1.343.684 0 1.075.518 1.075 1.416v.45c0 .888-.386 1.401-1.06 1.401Zm2.834-1.328c0 1.47.87 2.378 2.305 2.378 1.416 0 2.139-.777 2.158-1.763h-1.186c-.06.425-.313.732-.933.732-.66 0-1.05-.512-1.05-1.352v-.625c0-.81.371-1.328 1.045-1.328.635 0 .879.425.918.776h1.187c-.02-.986-.787-1.806-2.14-1.806-1.41 0-2.304.918-2.304 2.338z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-5">
            <a href="{% url 'courses:course_list' %}" class="btn btn-outline-dark btn-lg px-5 mt-3">Start Learning</a>
        </div>
    </section>
    <section class="about" id="about">
        <div class="container flex-column justify-content-center">
            <h1 class="about-contents-heading text-center pt-5">About our team</h1>
            <div class="hero-devider pt-3 d-flex justify-content-center align-items-center">
                <img src="{% static 'img/ou.jpg' %}">
            </div>
            <div class="row justify-content-center pt-4">
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid" src="{% static 'img/shyntemir.jpg' %}">
                    </div>
                    <div class="team-member-info">
                        <h4 class="about-us-names text-center">Nadyrkhan Shyntemir</h4>
                        <p class="about-us-description">Team captain, Full Stack Web Developer</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid" src="{% static 'img/damir.jpg' %}">
                    </div>
                    <div class="team-member-info">
                        <h4 class="about-us-names text-center">Timergazin Damir</h4>
                        <p class="about-us-description">Backend Developer</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid" src="{% static 'img/adilzhan.jpg' %}">
                    </div>
                    <div class="team-member-info">
                        <h4 class="about-us-names text-center">Adilzhan Tleukhan</h4>
                        <p class="about-us-description">Go Developer</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex justify-content-center">
                        <img class="img-fluid" src="{% static 'img/bera.jpg' %}">
                    </div>
                    <div class="team-member-info">
                        <h4 class="about-us-names text-center">Akbergen Berdiyar</h4>
                        <p class="about-us-description">Project Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-me my-5" id="contact-me">
        <div class="container">
            <h1 class="contact-me-title text-center pt-5">Contact me</h1>
            <div class="portfolio-devider py-4 d-flex justify-content-center align-items-center">
                <div class="portfolio-devider d-flex justify-content-center align-items-center">
                    <img src="{% static 'img/ou2.png' %}">
                    <img src="{% static 'img/ou2.png' %}">
                    <img src="{% static 'img/ou2.png' %}">
                </div>
            </div>
            <div class="validation-container d-flex justify-content-center">
                <form class="g-2 needs-validation justify-content-center pb-5 pt-2" novalidate method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                               name="full_name" required>
                        <label for="floatingInput">Full name</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter your name
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                               name="email" required>
                        <label for="floatingInput">Email address</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter your email address
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                               name="phone" required>
                        <label for="floatingInput">Phone</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter your phone number
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                  style="height: 10vh" name="message" required></textarea>
                        <label for="floatingTextarea2">Comments</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please Leave comment
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        <button class="btn mb-3" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}

